<!DOCTYPE html>
<html>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_sJOCNa8RrravulIWhqL7AyfF');
  // ...
</script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
<head>
  <title>Nameofapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Welcome to bike Berlin</h1>
<h2>Your source for used bikes in berlin</h2>
<h3>Dynamic links</h3>
<%= link_to "Landing", root_path %>
<%= link_to "Index", static_pages_index_path %>
<%= link_to "Products", products_path %>
<%= link_to "About", static_pages_about_path %>
<%= link_to "Contact", static_pages_contact_path %>
<%= link_to 'Users', users_path %>

<h3>Not Dynamic links</h3>
<a href="/">Landing Page</a>
<a href="/static_pages/index">Index</a>
<a href="/products">Products</a>
<a href="/orders/index">Orders</a>

<%= form_tag("/products", method: "get") do %>
	<%= label_tag(:q, "Search for:") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag("search") %>

	<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
<% end %>


<%= yield %>

</body>
</html>
